<meta charset="UTF-8">
<title>Renée App</title>
<link href="./css/style.css" rel="stylesheet" />
<script type="importmap">
  {
    "imports": {
      "three": "https://unpkg.com/three@0.154.0/build/three.module.js",
      "three/addons/": "https://unpkg.com/three@0.154.0/examples/jsm/"
    }
  }
</script>