<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>
<body>
  <div class="pageWrapper">

    <!-- search overlay needs to be position fixed -->
    <div class="searchOverlayWrapper">

      <div id="searchOverlay">
        <h2><%- text %></h2>
        
        <!-- form message wrapper -->
        <div id="formMessageWrapper" class="closed"><div id="formMessage">Message</div></div>      

        <!-- form -->
        <form id="searchForm" method="post" action="/sendFiles" enctype="multipart/form-data">
          <div>
            <label for="file1">File 1</label>
            <input id="file1" name="file1" type="file">
          </div>
          <div>
            <label for="file2">File 2</label>
            <input id="file2" name="file2" type="file">
          </div>          
          <div>
            <label for="searchString">search string</label>
            <input id="searchString" name="searchString" type="text">
          </div>
          <div>
            <label for="queryParams">query params</label>
            <input id="queryParams" name="queryParams" type="text">
          </div>
          <div>
            <button type="submit">submit form</button>
          </div>
        </form>

      </div>

    </div>

    <!-- canvas wrapper -->
    <canvas id="renderCanvas"></canvas>

    <!-- info/menu wrapper -->
    <div id="controls">
      <div>x</div>
      <div>zoom: <span id="zoomLevel">10</span></div>
    </div>

    <!-- scripts -->
    <script src="./js/index.js" type="module"></script>
  </div>
</body>
</html>