<!DOCTYPE html>
  html(lang="en")
    head
      meta(charset='utf-8')
      title Winterheart
      meta(name='description' content='Re:search Codex')
      meta(name='viewport' content='width=device-width, initial-scale=1')
      link(href='css/style.css' rel='stylesheet' type="text/css")
      script(src='js/index.js' type='module')

    body
      // on page, outside overlay
      .pageWrapper        
        form(action="/sendFiles", id="my-form", method="post", class="dropzone")

        // include mixins/mobileMenuOverlay.pug
        // +mobileMenuOverlay()

      script.
        const locations = "locations!";
        const media = "media!";
        // const locations = JSON.parse(`!{Locations}`); // THIS makes the data global to the window! 
        // const media = JSON.parse(`!{MediaItems}`); // THIS makes the data global to the window! 