
:root {
  --text-color: rgba(255,255,255,0.92);
  --boxShadow-color: rgba(0,0,0,0.25);
  --overlay-bgcolor: darkblue;
  --overlay-textColor: rgba(255,255,255,0.96);
}


*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 0.75rem;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.35);
  border: none;
}
::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: transparent;
}

/* selection */
::-moz-selection { /* Code for Firefox */
  color: white;
  background: #111;
}
::selection {
  color: white;
  background: #111;
}



/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* SITE SPECIFIC styling ++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
  width: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  color: var(--text-color);
  font-family: sans-serif;
  font-size: 21px;
  line-height: 1.375em;
  background-color: var(--overlay-bgcolor);
  height: 100%; /* vh; */
  overflow: hidden;
}

.pageWrapper {
  padding: 0;
  overflow: hidden;
}

/* file input form */
.searchOverlayWrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 2em;
  border: 1px solid pink;
  z-index: 10;
  background-color: rgba(0,0,0,0.35);
}
#searchWrapper {
  width: max-content;
  height: max-content;
}
/* canvas */
#canvasWrapper {
  position: fixed;
  inset: 0;
  z-index: 1;
}

/* controls */
#controls {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100vw;
  border: 1px solid red;
  z-index: 9999;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(2, 1fr);
}

#controls > div {
  border: 1px solid pink;
}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6 {
  margin: 0px 0px 1em 0px;
  line-height: 1.35em;
  font-weight: 600;
}
h1 {
  font-size: 2.25em;
  line-height: 1.1em;
}
h2 {
  font-size: 1.875em;
  line-height: 1.15em;
  margin-bottom: 1.35em;
}
h3 {
  font-size: 1.375em;
}

p {
  margin: 0px 0px 1.325em 0px;
}

.centered { text-align: center; }






/* ************************************************************************************ */
/* ************************************************************************************ */
/* ************************************************************************************ */
/* ************************************************************************************ */

@media screen {

  body {
    font-size: 18px;
  }
 
}


/* ************************************************************************************ */
/* LARGER */

@media screen and (min-width: 400px) {


}


/* ************************************************************************************ */
/* LARGER */

@media screen and (min-width: 800px) {

  body {
    font-size: 19px;    
  }

}


/* ************************************************************************************ */
/* LARGER */

@media screen and (min-width: 1024px) {



}


/* ************************************************************************************ */
/* LARGER */

@media screen and (min-width: 1600px) {

  body {
    font-size: 20px;    
  }


}